/*.hidden {
    display: hidden;

}*/

* {
    box-sizing: border-box;
    outline: 2px solid cyan;
}

body {
    background-color: #FF3333;
    display: block;
    margin: 20px;

}

.hero {
    /* position: absolute; */
    width: max-content;
    align-self: center;
    justify-self: center;

}

.close {

    width: max-content;
    align-self: right;
    justify-self: right;
}

.close-hero {

    width: max-content;
    align-self: center;
    justify-self: center;
    padding-right: 40px;
}

.proj {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.proj section {

    width: 400px;

   
}
.proj-main {

    /* position: absolute;
    display: inline-block; */
    /* width: max-content; */
    /* display:inline-block; */

    display:inline-block;
    
    


    
}

.proj-main nav {

    max-width: 200px;
}

.proj-main nav img {
    
    /* width: 100%;
    height: auto; */

        transform: rotate(-15deg);
        width: 100%;
        
        /* top: 15px;
        left: 15px; */
        /* z-index: 3; */
        /* background: none;
        border: none; */
        cursor: pointer;

        margin-bottom: 50px;

}

.project-card {
    
    width: 350px;
   
    /* margin: auto; */

}


.project {

    display: flex;
    flex-direction: column;
    /* margin: 8 40px; */
    /* justify-content: center; */
    gap: 100px;
    margin: 30px;
   
}

.project-container {

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}




img {
    width: 100%;
    height: auto;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
}


video {
    width: 75%;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.close {
    float: right;
    max-width: 30px;
    margin-bottom: 30px;
    
       
}

h1 {
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
    letter-spacing: 0.2rem;
    padding-left: 15px;
    color: white;
    background-color: black;
}

h2 {
    font-family: "peridot-pe-variable", sans-serif;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 600;
    letter-spacing: 0.2rem;
    background-color: white;
    padding-left: 15px;
   
}



p {
    color: #FFF;
    text-align: left;
    font-family: "Peridot PE Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;

}

/* .right {
    color: #FFF;
    text-align: right;
    font-family: "Peridot PE Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;
}

.left {
    color: #FFF;
    text-align: left;
    font-family: "Peridot PE Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;
} */

footer {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .project-container {

        flex-direction: column;
        margin: 40px;
        
    }

    .project-container img, .project-container video {

        max-width: 45vw;
    }

    .project-container:nth-of-type(odd) img, .project-container:nth-of-type(odd) video{

        order: 2;
    }

    /* .project-container {

        flex-direction: row;

        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .project-container img, .project-container video, .project-container p {

        max-width: 300px;
    }

    .project-container p:nth-last-of-type(odd) {

        order:;
    } */


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .project-container {

        flex-direction: row;
        margin: 40px;
        
    }

   

    .project-container p {
        color: #FFF;
        text-align: left;
        font-family: "Peridot PE Variable";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.6px;
        padding: 30px;
        margin: 30px;


    }

    .project-container img, .project-container video {

        margin: 20px;
    }

    footer {
        width: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
       
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .project-container {

        flex-direction: row;
        margin: 40px;
        
    }

  

    .project-container p {
        color: #FFF;
        text-align: left;
        font-family: "Peridot PE Variable";
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.6px;

        padding: 30px;
        margin: 30px;


    }

    .img {

        margin: 20px;
    }
    
    footer {
        width: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
       
    }
    
}

body {
    margin: 0;
    font-family: sans-serif;
  }

  
  .menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  
  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FF3333;
    background-image: url(media/black&white\ logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: "Peridot PE Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 1000;

  }

  .overlay-menu.active {
    opacity: 1;
    visibility: visible;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overlay-menu nav a {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    margin: 20px 0;
    transition: color 0.3s ease;
    font-family: "Peridot PE Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }

  .overlay-menu nav a:hover {
    color: #000000;
    font-family: "Peridot PE Variable";
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

